
  <h1>SpaceE</h1>

  <div id="sp-menu">
    <h2>destination</h2>
    <ul>
      <li><%= link_to "太陽系 - Solar system", solar_system_path %></li>
      <li><%= link_to "太陽系外 - Exoplanet", exoplanet_path %></li>
      <li><%= link_to "宇宙 - Unverse", unverse_path %></li>
      <li><%= link_to "問題 - Question", solar_system_path %></li>
      <li><%= link_to "記事一覧 - NEWS", solar_system_path %></li>
      <li><%= link_to "コラム - column", solar_system_path %></li>
      <li><%= link_to "おすすめ動画 - movie", solar_system_path %></li>
    </ul>
  </div>

  <div id="hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
