
  <h1>SpaceE</h1>

  <div id="sp-menu">
    <h2>destination</h2>
    <ul>
      <li><%= link_to "太陽系 - Solar system", solar_system_path %></li>
      <li><%= link_to "銀河群 - Galaxy group", galaxy_group_path %></li>
      <li><%= link_to "銀河系 - Galaxy", galaxy_path %></li>
      <li><%= link_to "銀河団 - Cluster of galaxies", cluster_of_galaxies_path %></li>
      <li><%= link_to "超銀河団 - Supercluster", supercluster_path %></li>
      <li><%= link_to "宇宙の果て - end of unverse", end_of_unverse_path %></li>
      <li><%= link_to "問題 - Question", solar_system_path%></li>
      <li><%= link_to "記事一覧 - NEWS", solar_system_path%></li>
    </ul>
  </div>

  <div id="hm-icon">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
